.header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #fff;
}

.header__container {
    display: flex;
    width: 1170px;
    max-width: 95%;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    z-index: 5;
    gap: 50px;
}

.header__logo {
    height: 48px;
    width: 206px;
    background-image: url('./src/NAVRAS.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__cont {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    margin-right: 30px;
}

.header__menu-link {
    text-decoration: none;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
}

.header__social {
    display: flex;
    gap: 10px;
}

.header__social-link {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid #2C3642;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.header__social-link_x {
    background-image: url('./src/x\ icon.svg');
}

.header__social-link_tg {
    background-image: url('./src/tg\ icon.svg');
}

.header__social-link_ds {
    background-image: url('./src/ds\ icon.svg');
}

.header__btn {
    text-decoration: none;
    border-radius: 8px;
    background-color: #3F8DE5;
    padding: 17px 36.5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 112.5%; /* 112.5% */
    width: 77px;
}

.header__burger {
    display: none;
}

.header__center {
    display: none;
}

.header__toggle {
    width: 65px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 2px;
    border-radius: 197px;
    border: 1px solid #2C3642;
    cursor: pointer;
}

.header__toggle-dark {
    background-image: url('./src/toggle\ black.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    height: 18px;
    width: 18px;
    padding: 2px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.header__toggle-light {
    background-image: url('./src/toggle\ light.svg');
    transform: rotate(45deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #3F8DE5;
    height: 18px;
    width: 18px;
    padding: 2px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.header__toggle_active {
    background-color: #2C3642;
}

.header__toggle-dark_active {
    background-color: #3F8DE5;
    background-image: url('./src/toggle\ black\ black.svg');
}

.header__toggle-light_active {
    transform: rotate(225deg);
}


@media screen and (max-width: 1023px) {
    .header__container {
        position: fixed;
        background-color: #fff;
        padding: 0 2.5%;
        transition: 0.3s ease-in-out;
    }

    .header__cont {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 115px;
        left: -2.5%;
        right: 0;
        bottom: 0;
        transition: 0.3s ease-in-out;
        flex-direction: column;
        height: calc(100vh - 115px);
        overflow-x: auto;
        background-color: #fff;
    }

    .header__cont_active {
        visibility: visible;
        opacity: 1;
    }

    .header__menu {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        margin-right: 0;
    }

    .header__social {
        gap: 20px;
    }

    .header__center {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .header__burger {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    
    .header__burger::after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #4d4d4d;
        margin-top: 10px;
        transition: 0.3s ease-in-out;
    }
    
    .header__burger::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #4d4d4d;
        transition: 0.3s ease-in-out;
    }
    
    .header__burger_active::after {
        transform: rotate(45deg);
        margin-top: -2px;
    }

    .header__burger_active::before {
        transform: rotate(-45deg);
    }

    .header__btn {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        height: 70px;
    }

    .header__logo {
        width: 150px;
    }

    .header__cont {
        padding-top: 0;
        top: 69px;
        height: calc(100vh - 69px);
    }

    .header__menu {
        margin-top: 40px;
    }
}

.header__container_black {
    background-color: #13161A;
}

.header__container_black .header__container {
    background-color: #13161A;
}

.header__container_black .header__logo {
    background-image: url('./src/NAVRAS\ dark.svg');
}

.header__container_black .header__cont{
    background-color: #13161A;
    color: #fff;
}

.header__container_black .header__menu-link {
    color: #fff;
}

.header__container_black .header__burger::after {
    background-color: #fff;
}

.header__container_black .header__burger::before {
    background-color: #fff;
}
