.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 115px;
}

.main__container {
    width: 1170px;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 15px;
    align-items: center;
    z-index: 2;
}

.main__text {
    display: flex;
    flex-direction: column;
    max-width: 623px;
}

.main__header {
    color: #3F8DE5;
    font-size: 64px;
    font-weight: 400;
    line-height: 100%;
    margin: 0 0 20px;
    font-family: 'SatoshiBlack', sans-serif;
    text-transform: uppercase;
}

.main__header_strong {
    color: #2C3642;
}

.main__about {
    color: #848484;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.main__btns {
    margin-top: 45px;
    display: flex;
    gap: 22px;
}

.main__audit {
    padding: 18.5px 43px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    color: #fff;
    background-color: #3F8DE5;
    font-size: 16px;
    font-weight: 400;
    line-height: 87.5%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__whitepaper {
    padding: 18.5px 17.5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2C3642;
    color: #2C3642;
    font-size: 16px;
    font-weight: 400;
    line-height: 87.5%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.main__img {
    width: 300px;
}

@media screen and (max-width: 1023px) {
    .main__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: calc(15px + 115px);
    }

    .main__img {
        margin-top: 40px;
    }

    .main__text {
        align-items: center;
    }

    .main__btns {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .main__text {
        max-width: 95%;
    }

    .main__img {
        width: 95%;
        max-width: 250px;
        margin-top: 0;
    }

    .main__container {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .main__header {
        font-size: 32px;
        margin: 15px 0 25px;
    }

    .main__about {
        font-size: 16px;
    }
    
    .main__audit {
        padding: 15.5px 30px;
    }

    .main__whitepaper {
        padding: 15.5px 10px;
    }
}

.main__container_black .main__header_strong {
    color: #fff;
}

.main__container_black .main__whitepaper {
    color: #fff;
    border: 1px solid #fff;
}